:root {
  --green-ooze: #024225;
  --green-ooze-secondary: #2c4639;
  --green-ooze-tertiary: #002e19;
  --green-ooze-tertiary-rgb: rgb(0, 46, 25);
  --dark-green-ooze: #002e19;
  --super-dark-green-ooze: #011810;
  --black-ooze: #121c1a;
  --dark-black-ooze: #080a09;
}

[data-bs-theme="dark-ooze"] {
  --bs-body-color: var(--bs-white);
  --bs-body-bg: var(--black-ooze);
  --bs-tertiary-bg: var(--green-ooze-tertiary);
  --bs-tertiary-bg-rgb: var(--green-ooze-tertiary-rgb);
  --bs-secondary-color: var(--green-ooze-secondary);
  --bs-navbar-color: white;

  .gradient-background {
    background: linear-gradient(189deg, var(--dark-black-ooze) 0%, var(--super-dark-green-ooze) 100%);
  }
}