:root {
  --green-ooze: #024225;
  --green-ooze-tertiary: #024d2b;
  --green-ooze-tertiary-rgb: rgb(0, 46, 25);
  --dark-green-ooze: #002e19;
}

[data-bs-theme="dark-ooze"] {
  --bs-body-color: var(--bs-white);
  --bs-body-bg: var(--green-ooze);
  --bs-tertiary-bg: var(--green-ooze-tertiary);
  --bs-tertiary-bg-rgb: var(--green-ooze-tertiary-rgb);

  .gradient-background {
    background: linear-gradient(189deg, var(--dark-green-ooze) 0%, var(--green-ooze-tertiary) 100%);
  }
}