.publish-badge {
  //position: absolute;
  //right: 9rem;
}
.image-box {
  min-width: 155px;
  height: 150px;
}
.header-image-container {
  height: 400px;
  display: flex;
  img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.article-box {
  margin-bottom: 1rem;
  height: 152px;
  .image-box {
    margin-right: 10px;
  }
  .date-field {
    color: var(--off-white);
    font-style: italic;
    font-weight: lighter;
    white-space: pre;
    &.updated {
      font-weight: normal;
    }
  }
}