.light-background {
  background: var(--bs-tertiary-bg);
}

.experience-icon {
  font-size: 2rem;
  // Pair with h3
}

.experience-container {
  padding-left: 0;
  padding-right: 0;
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
}

.container-fluid.page-banner {
  padding: 0;

  .container {
    height: 100%;

    h1 {
      line-height: 7.5rem;
      margin-top: 0;
    }

    p.subtext {
      font-size: 1.4rem;
    }

    p.subtitle {
      font-style: italic;
      font-size: 1.75rem;
      margin-top: 1.5rem;
    }
  }
}

.project-row {
  height: 50%; // 33.33%
  position: relative;
  padding: 3rem 0;

  .image-container {
    padding: 0;
    transition: 0.4s;

    &:hover {
      transform: scale(1.05);
    }
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
  }

  a {
    color: var(--bs-body-color);
  }
}

.personal-container {
  .image-container {
    position: relative;

    img {
      object-fit: cover;
      transition: 0.5s;
    }

    img.full {
      height: 100%;
      width: 100%;
      position: relative;
    }
    .behind {
      z-index: -1;
    }

    img.small {
      height: 200px;
      width: 250px;
      position: absolute;
    }

    img.hover {
      &:hover {
        transform: scale(1.2);
        z-index: 1;
      }
    }

    .center-image {
      left: 25%;
      top: 0;
      transform: rotate(0.9deg);
    }

    .right-image {
      left: 50%;
      bottom: 4px;
      transform: rotate(6deg);
    }

    .left-image {
      left: 10px;
      bottom: 0;
      transform: rotate(-4deg);
    }
  }
}

@media only screen and (min-width: 330px) and (max-width: 526px) {
  .personal-container {
    .image-container {
      img.small {
        height: auto;
        width: 40%;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .personal-container {
    .image-container {
      img.small {
        height: 100px;
        width: 150px;
      }
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .personal-container {
    .image-container {
      img.small {
        height: 150px;
        width: 200px;
      }
    }
  }
}