.modal {
  background-color: rgba(0,0,0,0.6);
  display: none;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  z-index: 10;
}

.modal-content {
  background: transparent;
  width: 100%;
  height: 100%;
}

#modalImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.btn-close {
  background-color: white;
  &:hover {
    background-color: white;
  }
}